<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="db.properties">
        <property name="" value=""/>
    </properties>

    <typeAliases>
        <!--单个别名定义-->
        <typeAlias type="vo.User" alias="user"></typeAlias>

        <!--批量别名定义
            <package name="po"/>
         -->
    </typeAliases>

    <!-- 加载映射文件-->
    <mappers>
        <!--<mapper resource="mapper/UserMapper.xml"/>-->
        <package name="mapper"/>
    </mappers>

</configuration>